extends layout

block content
    h1= title
    p Welcome to #{title}
    button(id='import_dumps' class="deployer-btn") PULL DUMPS
    button(id='deploy_incubator' class="deployer-btn") DEPLOY!
    div(class='log-panel hide')
