body {
    padding: 1em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.deployer-btn {
    padding: .4em .8em;
    background: -webkit-linear-gradient(rgba(60,60,160,0.9)0%, rgba(60, 60, 190, .9) 50%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(60,60,160,0.9)0%, rgba(60, 60, 190, 0.9) 50%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(60,60,160,0.9)0%, rgba(60, 60, 190, 0.9) 50%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(60,60,170,0.9)0%, rgba(60, 60, 190, 0.9) 50%)!important;
    color: rgba(255,255,255,1)!important;
    border-radius: .2em;
    border-color: transparent;
    margin-left: .8em;
}

.log-panel {
    width: 95%;
    height: 35em;
    margin: 3em 3em 3em 0;
    padding: 2em;
    font-family: "Courier 10 Pitch";
    font-weight: bold;
    background-color: rgba(0,0,0,.7);
    color: white;
    overflow: scroll;
}

.hide{
    display: none;
}
